@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img alt="GovernCMS Logo" src="/Content/images/municipal_agenda_logo.png"/>
    <h1>GovernCMS, by Municipal Agenda Software</h1>
    <p class="lead">GovernCMS is our Content Management System.</p>        
    <p class="lead">It is the open-source backbone of Municipal Agenda Software's <a href="https://municipalagenda.com">Agenda and Meeting Management Software</a>.</p>
    <p class="lead">The Source Code is hosted on a public GitHub Repository: <a href="https://github.com/ptenn/govern-cms">GovernCMS Repository</a>.</p>
    <p class="lead">This CMS Application can be used to store and serve up Artifacts.</p>
    <p class="lead">It can also be used to construct Websites, and has support for popular Web Controls.</p>
</div>

